@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import "tailwindcss";

:root {
  --background: #36454F; /* 메탈릭 네이비 */
  --foreground: #232B33; /* 진한 차콜 */
  --primary: #4F8CFF;    /* 포인트 블루 */
  --card-bg: #F8F6E3;    /* 아이보리 */
  --card-border: #E8E8E8;
  --card-shadow: 0 4px 24px 0 rgba(80, 80, 80, 0.06);
  --button-bg: var(--primary);
  --button-text: #fff;
  --text-sub: #495867;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
